@tailwind base;
@tailwind components;
@tailwind utilities; 


.grid-rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.piece_board {
    height: 100%;
}

#chessboard {
    width: 100%;
}

.chess-piece {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    display: block;
}